<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>여기는 루트입니다.</h2>
  <h4>공부좀 열심히 하세요.</h4>
</body>
</html>